<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet" type="text/css">
    <title>Parser results handler</title>
  </head>
  <body>
    <form id = "parse_file">
      <input type="file" id="filename"/>

      <label>
        Режим парсинга
        <select id="mode" name="mode">
          <option value = "strict">C диакритиками (Луима)</option>
          <option value = "nodiacritics">Без диакритиков (Чернецов)</option>
        </select>
      </label>
      <input type="submit" value="Парсить" name="file">
    </form>
    <label for="exportName">Введите имя файла</label><br>
    <input id="exportName" placeholder="имя csv файла"><br>
    <button id = "save">Сохранить как csv...</button>
    <br><br>
    <input id="tempName" placeholder="Имя временного файла"><br>
    <button id = "save_temp">Сохранить временный файл</button><br><br>
    <label for="open_temp">Загрузить таблицу...</label><br>
    <input type="file" id="open_temp">
    <main id="main">
      <table>
        <tbody id = "tbody">
        </tbody>
      </table>
    </main>
      <!--<div id = "gramms"></div>
      <div id = "glosses"></div>-->

    <script src = "{{ url_for('static', filename= 'node_modules/file-saver/src/FileSaver.js') }}"></script>
    <script src="{{ url_for('static', filename= 'jquery-3.4.1.min.js') }}"></script>
  	<script src = "{{ url_for('static', filename= 'data_parser.js') }}"></script>
  </body>
</html>
