<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-content="Expires" content="-1">
    <link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet" type="text/css">
    <title>Parser results handler</title>
  </head>
  <body>
    <div class = "quitBox">
     <button id = "quit">Кон-квалунгкве</button>
    </div>
    <form id = "textFromServer">
      <label>
        Ваши файлы
        <select id = "fileList" name = "List">
          <option value = "0">Не выбрано</option>
        </select>
      </label>
      <br>
      <input type="submit" name="submit">
    </form>
    <form id = "tempsFromServer">
      <label>
        Ваши временные файлы
        <select id = "tempList">
          <option value = "0">Не выбрано</option>
        </select>
      </label>
      <br>
      <input type="submit" name="submit">
    </form>
    <br><br><br> <!--
    <form id = "parse_file">
      <input type="file" id="filename"/>

      <label>
        Режим парсинга
        <select id="mode" name="mode">
          <option value = "nodiacritics">Без диакритиков (Чернецов)</option>
          <option value = "strict">C диакритиками (Луима)</option>
        </select>
      </label>
      <input type="submit" value="Парсить" name="file">
    </form> -->
    <label for="exportName">Введите имя файла</label><br>
    <input id="exportName" placeholder="имя csv файла">
    <!--<label for="rewrite">Перезаписать ли файл?</label>
    <input type="checkbox" id ="rewrite"><br>-->
    <button id = "save">Сохранить как csv...</button>
    <br><br>
    <input id="tempName" placeholder="Имя временного файла"><br>
    <button id = "save_temp" class="save_temp">Сохранить временный файл</button>
    <!--<label for="rewrite_temp">Перезаписать ли временный файл?</label>
    <input type="checkbox" id ="rewrite_temp"><br><br>-->
    <label for="open_temp">Загрузить таблицу...</label><br>
    <input type="file" id="open_temp">
    <main id="main">
      <table>
        <tbody id = "tbody">
        </tbody>
      </table>
    </main>
      <!--<div id = "gramms"></div>
      <div id = "glosses"></div>-->

    <script type = "text/javascript" src = "{{ url_for('static', filename= 'node_modules/file-saver/src/FileSaver.js') }}"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename= 'jquery-3.4.1.min.js') }}"></script>
    <script type = "module" src = "{{ url_for('static', filename= 'config.js') }}"></script>
  	<script type = "module" src = "{{ url_for('static', filename= 'data_parser.js') }}"></script>
    <script type = "module" src = "{{ url_for('static', filename= 'show_data.js') }}"></script>

  </body>
</html>
